html,
body {
  padding: 0;
  margin: 0;
  font-family:  Helvetica, -apple-system, Druk Wide Bold ,BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
html {
  scroll-behavior: smooth;
 
  
}
::selection{
  background-color: white;
  color: rgb(255, 222, 35);
}
:root {
  --main-font-color: #fefefa;
  --pane-padding: 5px 42px;
  --yellow-main: #ffca28;
  --main-dark:#212121;

}

.dark {
  
  background-color: #000000;
  
}
.light {
  background-color: #cdd1d2

}

html{
  overflow-x: hidden;
  width: 100vw;

}


a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.left-padding {
  padding-left: .4rem;
}
.flex {
  display: flex;
}
.arrowBack {
  position: absolute;
  left: -5%;
  top: 50%;
  transform: translate(0%, -50%);
  cursor: pointer;

}
.arrowFor {
  position: absolute;
  right: -5%;
  top: 50%;
  transform: translate(0%, -50%);
  cursor: pointer;
  

}


.coloroverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #0000008f;
  z-index: 1;
}
.product-title {
    line-height: 1.6rem;
  }

/* Navar start*/
.navbar{
  position: fixed;
  padding-block: 1rem;
  color: var(--main-font-color);
  background-color: hsl(0, 0%, 9%, .7);
  z-index: 800;
  min-height: 8vh;
  width: 100vw;
}
/* @supports(backdrop-filter: blur(1rem)) {
  .navbar {
    background-color: hsl(0, 0%, 9%, .7);
    backdrop-filter: blur(1rem);
     
  }
} */
.nav {
  display: flex;
  flex-direction: column;
}
.nav-contact {
  justify-content: space-between;
  align-items: center;
  padding-inline: 5rem;
  padding-bottom: .0rem;
  border-bottom: 1px solid rgba(71, 68, 68, 0.082);
 
}
.nav-contact > * {
   font-size: .7rem;
   font-weight: 280;
   line-height: .7rem;
   letter-spacing: .06em;
  
}

.nav-main-cont {
  align-items: center;
  justify-content: space-between;
  padding-inline: 5rem;
  padding-top: 1rem;

}
.nav-logo-cont {
 align-items: center;
}
#logo {
  cursor: pointer;
  padding-left: .6em;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}
.nav-menu-cont {
  color: var(--main-font-color);
}
.nav-menu-cont > * {
  padding-left: 2.5rem;
  cursor: pointer;

  text-shadow: 3px 0px 7px rgba(0, 0, 0, 0.616), 
  0px -4px 4px rgba(255,255,255,0.3);}
.nav-menu-cont > * a {
  color: var(--main-font-color);
  font-weight: 300;
  font-size: .7rem;
  letter-spacing: .1em;
  text-transform: uppercase;
}
/* Navbar end */
/* Main start */
.main-section {
  width: 100vw;
 overflow: hidden;
  height: 100vh;
  background-color: #000000;

  /* background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%); */
}

.main-page {
  
  width: 90%;
  margin: auto;
  display: grid;
  place-content: center;
  height: 100vh;
  


  

  z-index: 15;
 
 
}
.image-container-div {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden

}
.main-image-cont {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index:1;
}
.main-img-overlay {
  background-color: rgba(0, 0, 0, 0.548);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  
  

}


.main-desc {
  display: grid;
  place-content: center;
  width: 60vw;
  margin: auto;

  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
  
  gap: 1rem;
  z-index: 15;
}
.main-desc h2{
  text-align: center;
}

.main-desc p{
  color: var(--yellow-main);
  font-size: 1.3rem;
  line-height: 1.2rem;
  letter-spacing: .5px;
  font-weight: 200;
  
  
}

.h-cont {
  position: relative;
  display: flex;
}
.h-cont, 
.hexagon {
  width: 350px;
  height: 400px;

}

.h-cont, 
.hexagon,
.shape {
 
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
  clip-path: polygon(0 30%, 50% 0, 100% 30%, 100% 70%, 50% 100%, 0 70%);
  cursor: pointer;

}
.h-cont:hover, 
.hexagon:hover{
  transform: translateY(-5px);
  transform: scale(1.1);
  transition: .3s ease;

}
.h-cont2{
  position: absolute;
  left: 12.1rem;
  top: 19.5rem;
}
.h-cont3 {
  position: absolute;
  left: 24rem;
  top: 0rem;
}
.shape {
  line-height: 30rem;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  font-size: 2.4rem;
}


/* Main end */

/* about US starts*/

.about-section {
  position: relative;
 
  background-color: var(--yellow-main);
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);

  z-index: 300;

}






/* about US ends*/
/*confidentia start  */
.confidential-cont {
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  width: 100vw;

}
.confidential {
  text-align: start;
  padding-top: 25vh;
  width: 80%;
  line-height: 1.4rem;
  letter-spacing: .2px;
  margin: auto;
 padding-bottom: 3rem;
 color: var(--main-font-color);

}
.confidential h3 {
  margin-bottom: 1rem;
}
.labelConf {
  font-size: .9rem;
}
.linktoCong {
  color: var(--yellow-main);
  border-bottom:1px solid var(--yellow-main);
}
.req-form{
  font-size: .7rem;
  color: grey;
  
}
/*condidentikal ends */





/* Product Container start */



.katalog-section {
 
  min-height: 100vh;
  width: 100vw;
  background-color: #000000;
  position: relative;

  padding-top: 35vh;
  padding-bottom: 20vh;

 /* background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%); */
 
}
.katalog-desc {
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;

  transform: translate(-50%);
  
 
  color: var(--main-font-color);
  padding-block: 10vh;
}
.katalog-desc h1 {
  font-size: 3rem;
  margin-bottom: 1.4rem;
  letter-spacing: .5px;
  color: var(--yellow-main);

  
}

.product-detail-section {
  min-height: 100vh;
  padding-top: 18vh;
  width: 100vw;
 
}


/* Product icon */
/* .product-container {
  color: var(--main-font-color);
 
  width: 94vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 3rem;

} */
.productI-card {
  text-align: center;

 

  

}
.productI-img {
  max-width: 30rem;
  aspect-ratio: 1.4;

  cursor: pointer;

}
.productI-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;

}
.product-desc {
  width: 80%;
  margin: auto;
  
}


.productI-desc h1 {
  margin-bottom: .7rem;

  font-weight: 400;
  line-height: 1.4;
  font-size: 1.9rem;
  color: white;
  letter-spacing: 1.7px;
}
.productI-desc p {
  margin-bottom: 1rem;
  line-height: 1;
  font-size: .8rem;
  letter-spacing: .1px;
  color: rgba(255, 255, 255, 0.705);
}

/* Product icon */

.product-cart {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  min-height: 30rem;
  
 
  padding-inline: 5rem;
 
  padding-block: 4rem;
}
.back{
  background-color: white;
}
.products-grid {
  flex: 1 1 45%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
  gap: 10px;
   place-content: center;
   padding-inline: 3rem;
 
 
  position: relative;
 

}
.product-img-cont {
  min-width: 5rem;
  aspect-ratio: 1;
  cursor: pointer;
}
.product-img-cont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  opacity: .9;
}
.products-desc {
  flex: 1 1 30%;

 /* display: grid;
  place-content: center;*/
  text-align: start;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-weight: 300;
  letter-spacing: .7px;
  font-size: .99rem;
  padding-inline: 3rem;
  text-align: center;
 min-height: 30rem;
 line-height: 1.2rem;
  padding-block: 3rem;
  background-color: #ffca28;
  color: rgb(34, 31, 31);
  border-radius: 1rem;
}
.products-desc p {
  text-align: start;
}
.product-carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 40rem;
  min-height: 20rem;
  background-color:transparent;
  z-index: 110;
}
.product-carous-cont {
  width: 100%;
  height: 100%;
  

}
.product-carous-cont img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}



.over-lay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(2, 2, 2, 0.116);
  z-index: 1;
}

/* Product Container end */

/* Form starts */
.form-item {
  padding-block: 3rem;
}
.form-item h1 {
 text-align: center;
 font-size:  1.3rem;
 font-weight: 300;
}
.form-cont {
  width: 100%;
  background-color: #d9d9d9;
  background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
}
.contact-form {
  padding-block: 3rem;
  width:18rem;
  margin: auto;

 
 
}
/* Form Ends */

/* pdf starts */
.pdf-cont{
  width: 100vw;
  min-height: 40vh;
  text-align: center; 
  


}
.pdf-files {
  display: flex;
  padding-block: 3rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.file {
  text-align: center;
  padding-bottom: 2rem;
  

}
.file h4 {
  font-weight: 400;
  letter-spacing: .4px;
  font-size: .8rem;
 
}
.file > * {
  margin-bottom: 10px;


}

/*inside pdf page*/
.p1-con {
  width: 100vw;
  min-height: 130vh;
  padding-top: 17vh;
   display: grid;
  place-content: center;
  background-color: #485461;overflow: hidden;
background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
.page-pdf {

  cursor: pointer;
  transition: all .4s ease;
  padding-top: 10vh;
  margin-bottom: 3rem;

}
.page-pdf:hover {
  transform: scale(2.0);
}

/*pdf ends */
/* Footer Container starts */
footer {
  background-color: #2d3436;
background-image: linear-gradient(360deg, #2d3436 0%, #000000 74%);
}
.footer-container {
  display: grid;
  width: 90vw;
  margin:auto;
 
  grid-template-columns: 1.5fr 1fr;
  padding-block: 2rem;
 
}
.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: start;
  color: var(--main-font-color);
}
.footer-map{
  display: grid;
  text-align: center;
gap: 1rem;
  place-content: center;
 
}
.footer-map-address {
  font-size: .6rem;
 
  color: var(--main-font-color);

}
/* Footer Container Ends */


html{
  width: 100vw;
}
.success-mes {
  width: 40vw;
  height: 20vh;
  background-color: var(--yellow-main);
  border-radius: 2rem;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  z-index: 50;
  display: grid;
  place-content: center;
  text-align: center;
}
.form-overlay {
  position: fixed;
  z-index: 49;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(54, 54, 54, 0.034);
  height: 100vh;
}

.not-found {
  height: 80vh;
  width: 100vw;
  text-align: center;
  display: grid;
  place-content: center;
  background-color: var(--main-font-color);
}
.not-found  h1 {
  font-weight: 300;

  letter-spacing: .4px;

}
.about-title-main {
  color: blue;
}
.upper-about-cont {
  position: relative;
  width: 100vw;
  height: 70vh;
}
.upper-img {
  width: 100vw;
  height: 70vh;
  z-index: 1;
  
}
.upper-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.upper-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.445);
  z-index: 4;
}
.upper-about-title {
  position: absolute;
  text-transform: uppercase;
  left: 20%;
  letter-spacing: .7px;
  font-size: 1.5rem;
  /* color-interpolation-filters: #212121; */




  top: 60%;
  z-index: 5;
  color: var(--main-font-color);

}
.upper-nav {
  position: absolute;
  bottom: 10%;
  left: 20%;
  z-index: 50;
}
.navSpan {
  color: white;
  font-size: 1.2rem;
  padding-right: 20px;
  cursor: pointer;
  letter-spacing: .8px;

}
.currentLink {
  padding-left: 20px;
  color: rgba(212, 212, 212, 0.836);
}

.about-route-section {
  width: 100vw;

  background-color: #000000;
background-image: linear-gradient(147deg, #001e44c2 0%, #000000 74%);
}
.about-route-children {
  width: 90%;
  margin: auto;
  /* display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3,1fr); */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-block: 20vh;

}
.about-route-children > * {
  /* padding: 4.5rem 4rem; */
  width: 20rem;
  aspect-ratio: 1/1.3;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  padding: 1rem;
  
  font-size: 1rem;
  letter-spacing: 2px;
  text-align: center;
  border-radius: 1rem;

  cursor: pointer;
  background-color: var(--yellow-main);
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);

}
.about-route-children > * h3 {
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: .8px;
  margin-top: 1.5rem;
  line-height: 1.5rem;
  padding: 1rem;
  
  
}



@media(min-width:50) and (max-width: 70em) {
  html {
    overflow-x: hidden;
  }
  .products-desc {
    flex: 1 1 20%;
    display: grid;
    place-content: center;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    font-weight: 300;
    letter-spacing: .2px;
    font-size: .6rem;
    width: 70%;
    margin: auto;
    text-align: center;
    min-height: 5rem;
    line-height: .9rem;
    padding-block: 2rem;
  
    background-color: #ffca28;
    color: rgb(34, 31, 31);
    border-radius: 1rem;
  }

}
@media(min-width:50em) {
  .product-container-icon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: auto;
    gap: 4rem;
   
  }
  
 
  .navbar {
    backdrop-filter: blur(1rem);
  }
  .footer-map{
   
    transform: scale(1.2);
    padding: 1rem;
  }
  .main-desc {
    /* display: flex;
    place-content: center;
    text-align: center; */
    /* width: 50vw;
    margin-inline: auto; */
    color: var(--main-font-color);
/*    

    gap: 1rem;
    z-index: 15; */
  }
  .main-desc h2{
    line-height: 3.5rem;
    letter-spacing: 3.6px;
    font-size: 2.9rem;
  
 
  

   
 
  }
  .mobile-nav-t {
    display: none;
  }

   /* .main-desc p {
    line-height: 3rem;
    letter-spacing: .8px;
    font-size: 1.9rem;
   } */
   .about-section {
    position: relative;
    padding-block: 3rem;
    background-color: var(--yellow-main);
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
  
    z-index: 300;
  
  }
  .about {
   
    justify-content:space-around;
    align-items: center;
    width: 80vw;
    margin: auto;
    padding-block: 10vh;
  
  
    
  
  }
  .about > * {
    flex: 1 1 100%;
    color: var(--main-dark);
  }
  .about-child{
    font-size: 1.1rem;
    font-weight: 200;
    letter-spacing: .6px;
    line-height: 1.5;
    margin-bottom: 1.3rem;
  }
  .about-logo {
    font-size: 1.5rem;
    text-align: start;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1px;
    line-height: 1.2;
  
  
  }
  .about-nav {
  
    text-align: center;
  }
  
  
}
@media(max-width:50em) {
  .product-container-icon {
    margin-top: 3rem;
    display: grid;
    grid-template-columns:1fr;
    gap: 4rem;
  
  }
  html {
    overflow-x: hidden;
  }
  .product-container {
    display: grid;
   
  }
  .footer-container { 
    margin-top: -3px;
    grid-template-columns: 1fr;
    place-content: center;
    gap: 2rem;
  }
  .footer-contact {
    display: flex;
    flex-direction: column;
    gap: 8px;
   text-align: center;
  
  } 
  .sr-only {
    position: absolute;
    margin: -1px 0 0 -1px;
    padding: 0;
    display: block;
    width: 1px;
    height: 1px;
    font-size: 1px;
    line-height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    outline: 0;
    }

  .mobile-nav-t{
     width: 2rem;
     z-index: 9999;
     cursor: pointer;
     aspect-ratio: 1;
     background: url(../public/icons8-menu.svg);
     background-repeat: no-repeat;
     transform: scale(.7);
     background-color: none;
     border: none;
  }
  .mobile-nav-t[aria-expanded = 'true']{
    background: url(../public/icons8-multiply-50.png);
    width: 3rem;
  }
 
  .navbar {
    background-color: #0000002d;
    background-image: linear-gradient(147deg, #00000038 0%, #2c3e505e 74%);
    
  
  }
  .nav-contact {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-inline: 1rem;
    padding-bottom: .6rem;
    border-bottom: 1px solid rgba(71, 68, 68, 0.082);
  }
  .nav-contact > * {
    margin-bottom: .4em;
     font-size: .6rem;
     font-weight: 200;
     line-height: .7rem;
     letter-spacing: .06em;
    
  }
  .nav-main-cont {
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    padding-top: 1rem;
   
  
  }
  .nav-main-cont a {
    text-shadow:  #000000 3px 2px 10px;
    background-color: rgba(0, 0, 0, 0.062);
   

  }


 
  .nav-logo-cont {
   align-items: center;
  }

  #logo {
    padding-left: .4em;
    text-transform: uppercase;
    font-weight: 350;
    font-size: 1.5rem;
    letter-spacing: .8px;
  }
  .logo-img {
    width: 40px;
  }
  .nav-menu-cont {
    flex-direction: column;
    padding: min(20vh, 10rem) 2em;
    position: fixed;
    inset: 0 0 0 32%;
    background-color: hsl(0 0% 100% / 0.1);
    min-height: 100vh;
    backdrop-filter: blur(1rem);
    z-index: 9998;
    transform: translateX(100%);
    transition: all .5s ease;
    opacity: 0.3;
  }
  .nav-menu-cont[data-visible="true"]{
    transform: translateX(0%);
    opacity: 1;
   
  }
  .nav-menu-cont > * {
    padding-left: 0rem;
    margin-bottom: 2rem;

  }

  .nav-menu-cont > * a {
    color: var(--main-font-color);
    font-weight: 300;
    font-size: .8rem;
    letter-spacing: .07em;
    text-transform: uppercase;
    background-color: #0000000e;
  }


  /* Product */
  .mainn {
    width: 100vw;
  }
  .main-desc {
    text-align: center;
    width: 60vw;
    font-size: 6rem;
    margin-inline: auto;
    color: var(--main-font-color);

/*    

    gap: 1rem;
    z-index: 15; */
  }
  .main-desc h2{

    /* width: 58vw;
    position: absolute;
    bottom: 13%;
    left: 5%;
    text-transform: uppercase; */
  
   
    
    line-height: 1.9rem;
    letter-spacing: 1.9px;
    font-size: 1.6rem;
    font-weight: 400;
  
 
  

   
 
  }
  .product-detail-section {
    padding-top: 10vh;

  }
  .product-container {
    color: var(--main-font-color);
    padding-top: 5rem;
    min-width: 100vw;
    margin: auto;
   
  
  }
  .product-cart {
    
    width: 100vw;
    grid-template-columns: 1fr;

    display: grid;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
   
   
  }
  .product-title {
    line-height: 1.6rem;
  }
 
  .products-grid {
   
    /* flex: 1 1 40%; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 9px;
    padding-inline: 0;
     place-content: center;
    position: relative;
    margin-bottom: 3rem;
   
  
  }
  .product-img-cont {
    min-width: 90vw;
    aspect-ratio: 1.5;
    cursor: pointer;
  }
  .product-img-cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    opacity: .9;
  }
  .products-desc {
   
    order: -1;
    display: grid;
    place-content: center;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    font-weight: 300;
    letter-spacing: .2px;
    font-size: .6rem;
    width: 90%;
    margin: auto;
    text-align: center;
    min-height: 5rem;
    line-height: .8rem;
    padding-block: 2rem;
  
    background-color: #ffca28;
    color: rgb(34, 31, 31);
    border-radius: 1rem;
  }
  .product-carousel {
    display: none;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 19rem;
    min-height: 15rem;
    background-color: rgba(5, 5, 5, 0.404);
    z-index: 110;
  }
  .product-carous-cont {
    display: none;
    width: 100%;
    min-height: 100%;
    
  
  }
  .over-lay {
    display: none;
  }
  .product-carous-cont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
  .about-section {

    padding-block: 2rem;
   
  
  
  
  }
  .about {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 70vw;
    margin: auto;
    padding-block: 3rem;
    color: var(--main-dark);
  
  
    
  
  }
  .about-nav {
   text-align: center;
  }
  .about-nav p {
    padding: 0;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 300;
  }
 
 
  .about-child{
    margin-bottom: 1.5rem;

  }
  .about-logo {
    display: block;
    text-align: center;
    font-size: .9rem;
 
  
  
  }

  
  html{
    width: 100vw;
  }
  .footer-contact h2 {
    font-size: 1.1rem
  }
  .footer-contact p {
    font-size: .8rem;
  }
 /* .productI-card {
   margin-bottom: 4rem;
 } */

 .upper-about-title {

  position: absolute;
  text-transform: uppercase;
  left: 10%;
  letter-spacing: .7px;
  font-size: 1.1rem;




  top: 63%;
  z-index: 5;
  color: var(--main-font-color);

}
.upper-nav {
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: 50;
}

.about-route-children {
  gap: 2rem;


}




.katalog-desc {
  
  position: absolute;
  top: 0;
  left: 50%;
  text-align: center;
  transform: translate(-50%);
  
 
  color: var(--main-font-color);
  padding-block: 10vh;
}
.katalog-desc h1 {
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
  letter-spacing: .5px;
  color: var(--yellow-main);

  
}

.product-detail-section {
  min-height: 100vh;
  padding-top: 18vh;
  width: 100vw;
 
}

}

@media(max-width:35rem){
  .p1-con {
    padding-top: 9vh;
  }
  .page-pdf:hover {
    transform: scale(1.4);
  }
 


}
@media(max-width: 35em) {
  .about-route-children {
 

    padding-block: 10vh;
  
  }
  .about-route-children > * h3 {

    font-weight: 100;
    font-size: .9rem;
    letter-spacing: .9px;
    margin-top: 1.5rem;
    line-height: 1.3rem;
    
    
  }
  .about-route-children > * {
    /* padding: 4.5rem 4rem; */
    width: 17rem;
    aspect-ratio: 1/1.2;
    padding: 2rem;
  
   
  }
  
  
  .about-single-child h1{
    font-size: 1.3rem;
    letter-spacing: .7px;
  }
  .about-single-child h3 {
    font-size: 1rem;
    letter-spacing: .7px;
    font-weight: 300;
    text-align: center;
  }
 
  .about-single-child > * {
    font-weight: 300;
    line-height: 1.3rem;

  }
  .about-child{
    display: grid;
    grid-template-columns: 1fr;
   
    gap: 5rem;
    padding: 3rem;
    z-index: 40;
  
  }
  /*Produc Icon starts */
  .productI-card {
    width: 90vw;
    margin: auto;
    
  }
/* Product Icon ends */


  

}


@media(min-width: 35em) {
  html {
    overflow-x: hidden;
  }
  .main-container{
    display: none;
  }
 
  .carousel-close-button {
    position: absolute;
    width: 3rem;
    aspect-ratio: 1;
    background-color: none;
    border: none;
    transform: scale(1.1);
   
    background-repeat: no-repeat;
   
    top: 0;
    right: 0;
    z-index: 9999;
    cursor: pointer;
    /*background: url(../public/icons8-multiply-50.png)*/
  }
  .product-container {
    color: var(--main-font-color);
   
    width: 94vw;
    margin: auto;
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    padding-block: 3rem;
  
  }
}
@media(max-width: 35em) {
  .product-container {
    color: var(--main-font-color);
   
    width: 94vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 3rem;
  
  }
 
  


  /*Produc Icon starts */
  .productI-card {
    width: 90vw;
    margin: auto;
  }
  .product-container {
    gap: 4rem;
  }
  .main-page {
  
    width: 90%;
    margin: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   
    height: 100vh;
    padding-top: 20vh;
    z-index: 15;
   
   
  }
  /* .main-desc {
    text-align: center;
    
    
   
    width: 80vw;
    margin-inline: auto;
    color: var(--main-font-color);
    text-align: center;
    line-height: 2rem;
    letter-spacing: .6px;
    font-weight: 300;
    
  
    
    
    gap: 1rem;
    z-index: 15;
  }
  .main-desc h2{
    
    font-size: 1.5rem;
  } */
 
  .main-container{
    margin-top: -10vh;
   width: 740px;
   height: 702px;
  
   top: 0;

    transform: scale(.3);
    z-index: 15;
    
    
  }
/* Product Icon ends */

  

}
@media(max-width: 767px) {
  .main-section {

    height: 100vh;
    z-index: 3;
   
   
  }
  


 
  .main-image-cont {
    position: absolute;
    top: 0;
    left: 0;
 
    padding:0;
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index:1;
   
  
  }
  .main-img-overlay {
    background-color: rgba(0, 0, 0, 0.548);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  

}
.bp {
  background-color: black;
  padding-block: 14vh;
}


