html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
html {
  scroll-behavior: smooth;
  
}
::selection{
  background-color: white;
  color: rgb(255, 222, 35);
}
:root {
  --main-font-color: #fefefa;
  --pane-padding: 5px 42px;
  --yellow-main: #ffca28;

}

.dark {
  
  background-color: #000000;
  
}
.light {
  background-color: #d9d9d9;
  background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);

}




a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.left-padding {
  padding-left: .4rem;
}
.flex {
  display: flex;
}
.arrowBack {
  position: absolute;
  left: -5%;
  top: 50%;
  transform: translate(0%, -50%);
  cursor: pointer;

}
.arrowFor {
  position: absolute;
  right: -5%;
  top: 50%;
  transform: translate(0%, -50%);
  cursor: pointer;
  

}


.coloroverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #0000008f;
  z-index: 1;
}
.product-title {
    line-height: 1.6rem;
  }

/* Navar start*/
.navbar{
  position: fixed;
  padding-block: 1rem;
  color: var(--main-font-color);
  background-color: hsl(0, 0%, 9%, .7);
  z-index: 800;
  min-height: 8vh;
  width: 100vw;
}
/* @supports(backdrop-filter: blur(1rem)) {
  .navbar {
    background-color: hsl(0, 0%, 9%, .7);
    backdrop-filter: blur(1rem);
     
  }
} */
.nav {
  display: flex;
  flex-direction: column;
}
.nav-contact {
  justify-content: space-between;
  align-items: center;
  padding-inline: 5rem;
  padding-bottom: .6rem;
  border-bottom: 1px solid rgba(71, 68, 68, 0.082);
 
}
.nav-contact > * {
   font-size: .7rem;
   font-weight: 280;
   line-height: .7rem;
   letter-spacing: .06em;
  
}

.nav-main-cont {
  align-items: center;
  justify-content: space-between;
  padding-inline: 5rem;
  padding-top: 1rem;

}
.nav-logo-cont {
 align-items: center;
}
#logo {
  cursor: pointer;
  padding-left: .6em;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}
.nav-menu-cont {
  color: var(--main-font-color);
}
.nav-menu-cont > * {
  padding-left: 2.5rem;
}
.nav-menu-cont > * a {
  color: var(--main-font-color);
  font-weight: 300;
  font-size: .7rem;
  letter-spacing: .1em;
  text-transform: uppercase;
}
/* Navbar end */
/* Main start */
.main-section {
  width: 100vw;

 height: 100vh;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}

.main-page {
  
  width: 90%;
  margin: auto;
  display: grid;
  place-content: center;
  grid-template-rows:  1fr 6fr;
  z-index: 15;
 
  padding-top: 25vh;
}
.main-image-cont {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index:1;
 

}
.main-img-overlay {
  background-color: rgba(0, 0, 0, 0.548);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.main-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--main-font-color);
  text-align: center;
  line-height: 1.7rem;
  letter-spacing: .5px;
  font-weight: 200;
  font-size: .9em;

  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
  
  gap: 1rem;
  z-index: 15;
}

.main-desc p{
  color: var(--yellow-main);
  font-size: 1.3rem;
  line-height: 1.2rem;
  letter-spacing: .5px;
  /* text-shadow: 2px 2px 3px rgba(255,255,255,0.1); */
  font-weight: 200;
  
  
}
.main-container{
  /* background-color: blue; */
 position: relative;
  /* top: 20%;
  width: 50%;
  height: 60vh; */
  transform: scale(.4);
  z-index: 15;
  
  
}
.h-cont {
  position: relative;
  display: flex;
}
.h-cont, 
.hexagon {
  width: 350px;
  height: 400px;

}

.h-cont, 
.hexagon,
.shape {
 
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
  clip-path: polygon(0 30%, 50% 0, 100% 30%, 100% 70%, 50% 100%, 0 70%);
  cursor: pointer;

}
.h-cont:hover, 
.hexagon:hover{
  transform: translateY(-5px);
  transform: scale(1.1);
  transition: .3s ease;

}
.h-cont2{
  position: absolute;
  left: 12.1rem;
  top: 19.5rem;
}
.h-cont3 {
  position: absolute;
  left: 24rem;
  top: 0rem;
}
.shape {
  line-height: 30rem;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  font-size: 2.4rem;
}

@media(max-width: 767px) {
  .about-section {
   
    z-index: 40;
  
  }
  .main-page {
    width: 80%;
    margin: auto;
    display: grid;
    place-content: center;
    grid-template-rows:  1fr 2fr;
   
   
   
    padding-top: 20vh;
  }
  .main-desc  {
    text-align: center;
    padding-inline: 3rem;
    font-size: .7rem
   
   
  }
  .main-desc p {
    font-size: 0.9rem;
  }
  .main-container {
   transform: scale(.34);
   margin-top: -3rem;
   margin-right: 55%;
   
   
  }
  

  .main-image-cont {
    position: absolute;
    top: 0;
    left: 0;
 
    padding:0;
    margin: 0;
    width: 100%;
    height: 105%;
    object-fit: cover;
    z-index:1;
   
  
  }
  .main-img-overlay {
    background-color: rgba(0, 0, 0, 0.548);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 105%;
    z-index: 2;
  }
  

}

/* Main end */

/* about US starts*/
.about-section {
  padding-block: 3rem;
  background: black;
  min-height: 80vh;
  display: grid;
  place-content: center;
  z-index: 40;

}
.about {
  flex-direction: column;
  align-items: center;
  width: 80vw;
  z-index: 40;
  

}
.about-child{
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  padding: 3rem;
  z-index: 40;

}

.about-single-child  {
  text-align: center;
  flex: 1;
  color: var(--main-font-color);
}
.about-single-child > *{
  margin-bottom: 13px;
  font-weight: 400;
  line-height: 1.5rem;

}

.about-single-child h3 {
  font-size: 1.3rem;
  letter-spacing: .5px;
  font-weight: 250;
}
.about-title {
  color: var(--main-font-color);
  font-weight: 350;
  letter-spacing: .2px;
  margin-bottom: 2rem;
  padding-top: 2rem;
  text-transform: uppercase;
}
/* about US ends*/
/*confidentia start  */
.confidential-cont {
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  width: 100vw;

}
.confidential {
  text-align: start;
  padding-top: 25vh;
  width: 80%;
  line-height: 1.4rem;
  letter-spacing: .2px;
  margin: auto;
 padding-bottom: 3rem;
 color: var(--main-font-color);

}
.confidential h3 {
  margin-bottom: 1rem;
}
.labelConf {
  font-size: .9rem;
}
.linktoCong {
  color: var(--yellow-main);
  border-bottom:1px solid var(--yellow-main);
}
.req-form{
  font-size: .7rem;
  color: grey;
  
}
/*condidentikal ends */
@media(max-width: 35em) {
  .about-single-child h1{
    font-size: 1.3rem;
    letter-spacing: .7px;
  }
  .about-single-child h3 {
    font-size: 1rem;
    letter-spacing: .7px;
    font-weight: 300;
  }
  .about-child {
    gap: 5rem;
  }
  .about-single-child > * {
    font-weight: 300;
    line-height: 1.3rem;

  }
  /*Produc Icon starts */
  .productI-card {
    width: 90vw;
    margin: auto;
  }
/* Product Icon ends */

  

}




/* Product Container start */



.katalog-section {
  margin-top: -5px;
  min-height: 100vh;
  width: 100%;
  background-color: #000000;

 /* background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%); */
 
}
.katalog-section h1 {
  color: var(--main-font-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
  margin-left: 1rem;
 
  text-transform: uppercase;
  font-weight: 300;
 
  cursor: pointer;
}
.product-detail-section {
  min-height: 100vh;
  padding-top: 18vh;
  width: 100vw;
 
}
/* Product icon */
.product-container {
  color: var(--main-font-color);
 
  width: 94vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 3rem;

}
.productI-card {
  text-align: center;
  margin-bottom: 3rem;

}
.productI-img {
  max-width: 30rem;
  aspect-ratio: 1.4;
  padding-bottom: 1.3rem;
  cursor: pointer;

}
.productI-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;

}
.productI-desc h1 {
  margin-bottom: .1rem;
  font-weight: 350;
  line-height: 1.4;
  font-size: 1rem;
  letter-spacing: .6px;
}
.productI-desc p {
  margin-bottom: .7rem;
  line-height: 1;
  font-size: .8rem;
  letter-spacing: .1px;
  color: rgba(255, 255, 255, 0.705);
}
/* Product icon */

.product-cart {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  min-height: 30rem;
  
 
  padding-inline: 5rem;
 
  padding-block: 4rem;
}
.back{
  background-color: white;
}
.products-grid {
  flex: 1 1 45%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
  gap: 10px;
   place-content: center;
   padding-inline: 3rem;
 
 
  position: relative;
 

}
.product-img-cont {
  min-width: 5rem;
  aspect-ratio: 1;
  cursor: pointer;
}
.product-img-cont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  opacity: .9;
}
.products-desc {
  flex: 1 1 30%;
  display: grid;
  place-content: center;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-weight: 300;
  letter-spacing: .3px;
  font-size: .9rem;
  padding-inline: 3rem;
  text-align: center;
 min-height: 30rem;
 line-height: 1.2rem;
  padding-block: 3rem;
  background-color: #ffca28;
  color: rgb(34, 31, 31);
  border-radius: 1rem;
}

.product-carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 40rem;
  min-height: 20rem;
  background-color:transparent;
  z-index: 110;
}
.product-carous-cont {
  width: 100%;
  height: 100%;
  

}
.product-carous-cont img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}



.over-lay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(2, 2, 2, 0.116);
  z-index: 1;
}

/* Product Container end */

/* Form starts */
.form-item {
  padding-block: 3rem;
}
.form-item h1 {
 text-align: center;
 font-size:  1.3rem;
 font-weight: 300;
}
.form-cont {
  width: 100%;
  background-color: #d9d9d9;
  background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
}
.contact-form {
  padding-block: 3rem;
  width:18rem;
  margin: auto;

 
 
}
/* Form Ends */

/* pdf starts */
.pdf-cont{
  width: 100vw;
  min-height: 40vh;
  text-align: center; 
  


}
.pdf-files {
  display: flex;
  padding-block: 3rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.file {
  text-align: center;
  padding-bottom: 2rem;
  

}
.file h4 {
  font-weight: 400;
  letter-spacing: .4px;
  font-size: .8rem;
 
}
.file > * {
  margin-bottom: 10px;


}

/*inside pdf page*/
.p1-con {
  width: 100vw;
  min-height: 130vh;
  padding-top: 17vh;
  

  display: grid;
  place-content: center;
  background-color: #485461;overflow: hidden;
background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
.page-pdf {

  cursor: pointer;
  transition: all .4s ease;
  padding-top: 10vh;
  margin-bottom: 3rem;
  

  


 
}
.page-pdf:hover {
  transform: scale(2.0);
}
@media(max-width:35rem){
  .p1-con {
    padding-top: 9vh;
  }
  .page-pdf:hover {
    transform: scale(1.4);
  }

}

/*pdf ends */
/* Footer Container starts */
footer {
  background-color: #2d3436;
background-image: linear-gradient(360deg, #2d3436 0%, #000000 74%);
}
.footer-container {
  display: grid;
  width: 90vw;
  margin:auto;
 
  grid-template-columns: 1.5fr 1fr;
  padding-block: 2rem;
 
}
.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: start;
  color: var(--main-font-color);
}
.footer-map{
  display: grid;

  place-content: center;
}
/* Footer Container Ends */


@media(min-width:50) and (max-width: 70em) {
  .products-desc {
    flex: 1 1 20%;
    display: grid;
    place-content: center;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    font-weight: 300;
    letter-spacing: .2px;
    font-size: .6rem;
    width: 70%;
    margin: auto;
    text-align: center;
    min-height: 5rem;
    line-height: .9rem;
    padding-block: 2rem;
  
    background-color: #ffca28;
    color: rgb(34, 31, 31);
    border-radius: 1rem;
  }

}
@media(min-width:50em) {
  .mobile-nav-toggle{
    display: none;
  }
  .navbar {
    backdrop-filter: blur(1rem);
  }
}
@media(max-width:50em) {
  .footer-container { 
    margin-top: -3px;
    grid-template-columns: 1fr;
    place-content: center;
    gap: 2rem;
  }
  .footer-contact {
    display: flex;
    flex-direction: column;
    gap: 8px;
   text-align: center;
  
  } 
  .sr-only {
    position: absolute;
    margin: -1px 0 0 -1px;
    padding: 0;
    display: block;
    width: 1px;
    height: 1px;
    font-size: 1px;
    line-height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    outline: 0;
    }
  .mobile-nav-toggle{
    position: absolute;
    background-color: none;
    border: none;
    background: url(../public/icons8-menu.svg);
    right: 2rem;
    width: 2rem;
    transform: scale(.7);
    background-repeat: no-repeat;
    aspect-ratio: 1;
    z-index: 9999;
    cursor: pointer;
  }
  .mobile-nav-toggle[aria-expanded = 'true']{
    background: url(../public/icons8-multiply-50.png);
    width: 3rem;
  }
  .navbar {
    background-color: #0000002d;
    background-image: linear-gradient(147deg, #00000038 0%, #2c3e505e 74%);
    
  
  }
  .nav-contact {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-inline: 1rem;
    padding-bottom: .6rem;
    border-bottom: 1px solid rgba(71, 68, 68, 0.082);
  }
  .nav-contact > * {
    margin-bottom: .4em;
     font-size: .6rem;
     font-weight: 200;
     line-height: .7rem;
     letter-spacing: .06em;
    
  }
  .nav-main-cont {
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    padding-top: 1rem;
   
  
  }
  .nav-main-cont a {
    text-shadow:  #000000 3px 2px 10px;
    background-color: rgba(0, 0, 0, 0.062);
   

  }


 
  .nav-logo-cont {
   align-items: center;
  }
  #logo {
    padding-left: .4em;
    text-transform: uppercase;
    font-weight: 350;
    font-size: 1.5rem;
    letter-spacing: .8px;
  }
  .logo-img {
    width: 40px;
  }
  .nav-menu-cont {
    flex-direction: column;
    padding: min(20vh, 10rem) 2em;
    position: fixed;
    inset: 0 0 0 32%;
    background-color: hsl(0 0% 100% / 0.1);
    min-height: 100vh;
    backdrop-filter: blur(1rem);
    z-index: 9998;
    transform: translateX(100%);
    transition: all .5s ease;
    opacity: 0.3;
  }
  .nav-menu-cont[data-visible="true"]{
    transform: translateX(0%);
    opacity: 1;
   
  }
  .nav-menu-cont > * {
    padding-left: 0rem;
    margin-bottom: 2rem;

  }

  .nav-menu-cont > * a {
    color: var(--main-font-color);
    font-weight: 300;
    font-size: .8rem;
    letter-spacing: .07em;
    text-transform: uppercase;
    background-color: #0000000e;
  }


  /* Product */
  .mainn {
    width: 100vw;
  }
  .product-detail-section {
    padding-top: 10vh;

  }
  .product-container {
    color: var(--main-font-color);
    padding-top: 5rem;
    min-width: 100vw;
    margin: auto;
   
  
  }
  .product-cart {
    
    width: 100vw;
    grid-template-columns: 1fr;

    display: grid;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
   
   
  }
  .product-title {
    line-height: 1.6rem;
  }
 
  .products-grid {
   
    /* flex: 1 1 40%; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 9px;
    padding-inline: 0;
     place-content: center;
    position: relative;
    margin-bottom: 3rem;
   
  
  }
  .product-img-cont {
    min-width: 90vw;
    aspect-ratio: 1.5;
    cursor: pointer;
  }
  .product-img-cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    opacity: .9;
  }
  .products-desc {
   
    order: -1;
    display: grid;
    place-content: center;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    font-weight: 300;
    letter-spacing: .2px;
    font-size: .6rem;
    width: 90%;
    margin: auto;
    text-align: center;
    min-height: 5rem;
    line-height: .8rem;
    padding-block: 2rem;
  
    background-color: #ffca28;
    color: rgb(34, 31, 31);
    border-radius: 1rem;
  }
  .product-carousel {
    display: none;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 19rem;
    min-height: 15rem;
    background-color: rgba(5, 5, 5, 0.404);
    z-index: 110;
  }
  .product-carous-cont {
    display: none;
    width: 100%;
    min-height: 100%;
    
  
  }
  .over-lay {
    display: none;
  }
  .product-carous-cont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
  html{
    width: 100vw;
  }
  .footer-contact h2 {
    font-size: 1.1rem
  }
  .footer-contact p {
    font-size: .8rem;
  }
  
}
html{
  width: 100vw;
}
.success-mes {
  width: 40vw;
  height: 20vh;
  background-color: var(--yellow-main);
  border-radius: 2rem;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  z-index: 50;
  display: grid;
  place-content: center;
  text-align: center;
}
.form-overlay {
  position: fixed;
  z-index: 49;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(54, 54, 54, 0.034);
  height: 100vh;
}
